@font-face {
    font-family: 'zombie';
    src: url('../fonts/zombie-webfont.eot');
    src: url('../fonts/zombie-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/zombie-webfont.woff2') format('woff2'),
    url('../fonts/zombie-webfont.woff') format('woff'),
    url('../fonts/zombie-webfont.ttf') format('truetype'),
    url('../fonts/zombie-webfont.svg#zombiea') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'swamp';
    src: url('../fonts/doublefeature20-webfont.eot');
    src: url('../fonts/doublefeature20-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/doublefeature20-webfont.woff2') format('woff2'),
    url('../fonts/doublefeature20-webfont.woff') format('woff'),
    url('../fonts/doublefeature20-webfont.ttf') format('truetype'),
    url('../fonts/doublefeature20-webfont.svg#double_featureregular') format('svg');
    font-weight: 100;
    font-style: normal;
}