.btn {
  color: #fff;
  background-color: #000;
  cursor: pointer;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border-radius: 4px 4px 4px 4px;
  text-decoration: none;
  line-height: 2em;
}

.small-btn {
    font-size: small;
}

.blue-btn{
  background-color: #607D8B;
}

.blue-btn:hover {
  background-color: #435c69;
}

.green-btn{
  background-color: #0b7f11;
}

.green-btn:hover {
  background-color: #0b5f11;
}

.red-btn{
  background-color: #c02e20;
}

.red-btn:hover {
  background-color: #97221a;
}

.orange-btn{
  background-color: #eca224;
}

.orange-btn:hover {
  background-color: #d89521;
}

