.cemetery-info {
    text-align: left;
    width: 50%;
    margin:0 auto;
    border-radius: 10px;
    background-color: #c6c6c6;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}

.zombies-in-cemetery {
  width: 50%;
}