.zombie-app {
    display: block;
    width: $contentWidth;
    margin: 10px auto;
    text-align: center;
    font: 400 14px/15px Arial, sans-serif;
}

.global-link {
    margin-bottom: 10px;
}

.property-name {
    font-weight: 700;
}