input,
select,
textarea {
    border-radius: 5px;
    padding: 6px 10px;
    border-color: #607D8B;
    border-width: 1px;
    width: 300px;
    box-sizing: border-box;
}

.edit-zombie {

    .editable {
        display: block;
        overflow: hidden;
        padding-left: 10%;
        > div {
            float: left;
        }
    }

    &-photo {
        width: 20%;
        img {
            max-width: 150px;
        }

        input {
            display: block;
            max-width: 150px;
        }
    }

    .row {
        margin-bottom: 20px;
    }

    label {
        display: inline-block;
        min-width: 100px;
        font-weight: 700;
        text-align: right;
    }

    .multi-line {
        vertical-align: top;
        margin-top: 0;
    }

    .error {
        color: #c02e20;
        font-size: 12px;
        margin-top: 5px;
        display: none;
    }

    .hasError + .error {
        display: block;
    }

    textarea {
        height: 150px;
    }
    textarea {
        max-width: 300px;
    }

    .btn {
        margin-top: 20px;
    }
}


