.application-header {
    width: $contentWidth;
    margin: 0 auto;
}

.main-title {
    font-family: zombie, sans-serif;
    color: #086C35;
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 0;
}

.sub-title {
    font-family: swamp, sans-serif;
    color: #15730a;
    font-size: 23px;
    font-weight: 100;
    margin-top: 0;
    text-align: right;
}

